<!DOCTYPE html>
<html>
  <head>
    <title>QR Attendance</title>
    <script src="https://unpkg.com/html5-qrcode"></script>
  </head>
  <body>
    <h2>Scan QR Code</h2>
    <div id="reader" style="width: 300px"></div>
    <script>
      function onScanSuccess(decodedText, decodedResult) {
        console.log(`Code matched = ${decodedText}`, decodedResult);

        // Send scanned ID to backend
        fetch("/mark-attendance", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ studentId: decodedText }),
        })
          .then((res) => res.json())
          .then((data) => alert(data.message))
          .catch((err) => console.error(err));
      }

      let html5QrcodeScanner = new Html5QrcodeScanner("reader", {
        fps: 10,
        qrbox: 250,
      });
      html5QrcodeScanner.render(onScanSuccess);
    </script>
  </body>
</html>
